.single-product {
  display: flex;
  align-items: center;
  border-bottom: 1px solid green;
  padding: 2%;
}

.single-product h3 {
  color: blue;
}

.product-info {
  padding-left: 2%;
}

.product-button {
  background-color: goldenrod;
  width: 200px;
  height: 25px;
  border-radius: 5px;
  border: 1px solid black;
}
